# Introduction

In this notebook I was exploring and analyzing data from the Millennium Development Goals(MDG).A set of 8 Goals for 2015were defined by the United Nations to help improve living conditions and the condition of our planet.Key indicators were defined for each of the goals .In this project I had to work with Goal 7 which is to ensure environmental sustainability of carbon dioxide(CO2)emissions protected land and sea areas,and forests.I had to find the measure of central tendency,describe distributions and interpret it's histogram and know what outliers are and know how they affect measures of central tendency.

# Importing needed modules

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib as mpl
from scipy.stats import stats
import warnings
warnings.filterwarnings("ignore")
from scipy.stats.stats import pearsonr


%matplotlib inline

from itertools import chain

# Examining dataframe

In [2]:
stats = pd.read_csv("MDG_Export_20191227 (1).csv")
stats.head()

,CountryCode,Country,SeriesCode,MDG,Series,1990,Footnotes,Type,1991,Footnotes.1,...,Type.26,2017,Footnotes.27,Type.27,2018,Footnotes.28,Type.28,2019,Footnotes.29,Type.29
0,4,Afghanistan,567,Y,"Proportion of land area covered by forest, per...",2.1,NaN,E,,,...,,,,,,,,,,
1,4,Afghanistan,749,Y,"Carbon dioxide emissions (CO2), thousand metri...",2676.9,NaN,G,2493.6,NaN,...,,,,,,,,,,
2,4,Afghanistan,616,Y,Terrestrial and marine areas protected to tota...,0.36,NaN,C,,,...,,,,,,,,,,
3,8,Albania,567,Y,"Proportion of land area covered by forest, per...",28.8,NaN,C,,,...,,,,,,,,,,
4,8,Albania,749,Y,"Carbon dioxide emissions (CO2), thousand metri...",7488,NaN,G,3971.4,NaN,...,,,,,,,,,,

# Checking Statistical summary

In [3]:
stats.describe()

       CountryCode  SeriesCode
count   690.000000  690.000000
mean    439.465217  644.000000
std     254.138802   76.949647
min       4.000000  567.000000
25%     222.000000  567.000000
50%     439.000000  616.000000
75%     660.000000  749.000000
max     894.000000  749.000000

In [4]:
#Checking data types

stats.dtypes.value_counts()

object    93
int64      2
dtype: int64

In [5]:
stats.select_dtypes(include = ["object"]).columns

Index(['Country', 'MDG', 'Series', '1990', 'Footnotes', 'Type', '1991',
       'Footnotes.1', 'Type.1', '1992', 'Footnotes.2', 'Type.2', '1993',
       'Footnotes.3', 'Type.3', '1994', 'Footnotes.4', 'Type.4', '1995',
       'Footnotes.5', 'Type.5', '1996', 'Footnotes.6', 'Type.6', '1997',
       'Footnotes.7', 'Type.7', '1998', 'Footnotes.8', 'Type.8', '1999',
       'Footnotes.9', 'Type.9', '2000', 'Footnotes.10', 'Type.10', '2001',
       'Footnotes.11', 'Type.11', '2002', 'Footnotes.12', 'Type.12', '2003',
       'Footnotes.13', 'Type.13', '2004', 'Footnotes.14', 'Type.14', '2005',
       'Footnotes.15', 'Type.15', '2006', 'Footnotes.16', 'Type.16', '2007',
       'Footnotes.17', 'Type.17', '2008', 'Footnotes.18', 'Type.18', '2009',
       'Footnotes.19', 'Type.19', '2010', 'Footnotes.20', 'Type.20', '2011',
       'Footnotes.21', 'Type.21', '2012', 'Footnotes.22', 'Type.22', '2013',
       'Footnotes.23', 'Type.23', '2014', 'Footnotes.24', 'Type.24', '2015',
       'Footnotes.25', 'Type.25', '2016', 'Footnotes.26', 'Type.26', '2017',
       'Footnotes.27', 'Type.27', '2018', 'Footnotes.28', 'Type.28', '2019',
       'Footnotes.29', 'Type.29'],
      dtype='object')

# Cleaning And Preparing Data

In [6]:
#Replacing all empty string and records with on'ly spaces nan
#replacing = stats.replace(r'^\s*$', np.nan,regex = True)

In [7]:
# Removing columns that I don't need

for row in stats:
    if "Footnotes" in row:
        del stats[row]
    elif "Type." in row:
        del stats[row]
        
stats.head()

,CountryCode,Country,SeriesCode,MDG,Series,1990,Type,1991,1992,1993,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,4,Afghanistan,567,Y,"Proportion of land area covered by forest, per...",2.1,E,,,,...,2.1,,,,,,,,,
1,4,Afghanistan,749,Y,"Carbon dioxide emissions (CO2), thousand metri...",2676.9,G,2493.6,1426.5,1375.1,...,8470.8,12251.4,,,,,,,,
2,4,Afghanistan,616,Y,Terrestrial and marine areas protected to tota...,0.36,C,,,,...,,,,,0.46,,,,,
3,8,Albania,567,Y,"Proportion of land area covered by forest, per...",28.8,C,,,,...,28.3,,,,,,,,,
4,8,Albania,749,Y,"Carbon dioxide emissions (CO2), thousand metri...",7488,G,3971.4,2387.2,2343.2,...,4415.1,4668.1,,,,,,,,

In [8]:
stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 36 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CountryCode  690 non-null    int64
 1   Country      690 non-null    object
 2   SeriesCode   690 non-null    int64
 3   MDG          690 non-null    object
 4   Series       690 non-null    object
 5   1990         689 non-null    object
 6   Type         690 non-null    object
 7   1991         690 non-null    object
 8   1992         690 non-null    object
 9   1993         690 non-null    object
 10  1994         690 non-null    object
 11  1995         690 non-null    object
 12  1996         690 non-null    object
 13  1997         690 non-null    object
 14  1998         690 non-null    object
 15  1999         690 non-null    object
 16  2000         689 non-null    object
 17  2001         690 non-null    object
 18  2002         690 non-null    object
 19  2003         690 non-null    object
 20  2004         690 non-null    object
 21  2005         689 non-null    object
 22  2006         690 non-null    object
 23  2007         690 non-null    object
 24  2008         690 non-null    object
 25  2009         690 non-null    object
 26  2010         689 non-null    object
 27  2011         690 non-null    object
 28  2012         690 non-null    object
 29  2013         690 non-null    object
 30  2014         690 non-null    object
 31  2015         690 non-null    object
 32  2016         690 non-null    object
 33  2017         690 non-null    object
 34  2018         690 non-null    object
 35  2019         690 non-null    object
dtypes: int64(2), object(34)
memory usage: 194.2+ KB

# Checking duplicates

In [9]:
#Checking nunique values
stats.nunique()

CountryCode    230
Country        230
SeriesCode       3
MDG              1
Series           3
1990           516
Type             4
1991           175
1992           199
1993           195
1994           194
1995           194
1996           199
1997           198
1998           204
1999           200
2000           569
2001           200
2002           205
2003           207
2004           208
2005           391
2006           208
2007           206
2008           206
2009           211
2010           387
2011           208
2012             1
2013             1
2014           202
2015             1
2016             1
2017             1
2018             1
2019             1
dtype: int64

In [10]:
stats.corr()

              CountryCode    SeriesCode
CountryCode  1.000000e+00 -1.532248e-17
SeriesCode  -1.532248e-17  1.000000e+00

There is a perfect negative relationship between Country code and Series code meaning they are inversely proportional.When on increases the other decreases.

In [11]:
# Replacing missing values with 0
#replacing_null =replacing.replace(np.nan,439.465217,regex = True)
#replacing_null

# 1.How many different countries are represented? How many missing values are there by country, year and series?

In [12]:
#Checking the number of countries represented
country_name = stats.Country.unique()

print("Number of countries in dataframes =", len(country_name))

Number of countries in dataframes = 230

In [13]:
#Checking missing values in the data frame
stats.isnull().sum().value_counts()

0    32
1     4
dtype: int64

There are 0 missing values in the data frame.

In [14]:
#Checking missing values in country

stats["Country"].isnull().any().sum()

0

There are no missing values in the Country column

In [15]:
#Checking missing values in series

stats["Series"].isnull().sum()

0

There are 0 missing values in the Series column.

In [16]:
#Checking missing values in 1990

stats["1990"].isnull().any().sum()

1

There are 1 missing values in 1990

In [17]:
#Checking missing values in 2000

stats["2000"].isnull().value_counts()

False    689
True       1
Name: 2000, dtype: int64


There is 1 missing values in 2000

In [18]:
#Checking missing values in 2005

stats["2005"].isnull().value_counts()

False    689
True       1
Name: 2005, dtype: int64

There is 1 missing values in 2005

In [19]:
#Checking missing values in 2010

stats["2010"].isnull().value_counts()

False    689
True       1
Name: 2010, dtype: int64

There is 1 missing values in 2010

All in all year has 4 missing values.

# 2.Who are the top and bottom 5 countries in terms of C02 emissions in 1990 and what are their emissions? How has this changed by 2011?
Do you spot any problems with the data? If so, fix it.

In [20]:
data = []
first_row = True
for row in stats:
    if first_row:
        first_row = False
        continue
    if row % 3 == 2:
        code = row[0]
        Country = row[1]
        if row[5] == ' ':
            emission = 0
        else:
            emission = float(row[5])
        line_data = [code,Country,emission]
        data.append(line_data)
        
data = sorted(data, key=itemgetter(2))

TypeError: not all arguments converted during string formatting

In [ ]:
#Creating a new data frame for Country and 1990
Cou_1990 = replacing_null.loc[:, ("Country","1990") ]


Cou_1990

In [ ]:
Cou_1990.dtypes.value_counts()

# Data type summary

This data frame has 2 objects

In [ ]:
#Dataframe stats summary
Cou_1990.describe()

In [ ]:
#Grouping by country and 1990,then changing data type from object to float 

byCou = Cou_1990.groupby("Country")["1990"].apply(lambda country : country.astype(float).sum())
byCou

In [ ]:
#Sorting my dataframe to see the bottom  countries in descending order in the 1990 column

byCou.reset_index().sort_values(["1990"],ascending = True).head(6)

# Bottom 5 countries in 1990 and the amount of CO2 emisson

1.Yemen = -2998.60

2.San Marino = 0.00

3.Tokelau = 0.00

4.Monaco = 0.18

5.State of Palestine = 1.28

In [ ]:
#Sorting index for top 5 countries
byCou1 = byCou.reset_index().sort_values(["1990"],ascending = False).head(5)
byCou1

# Top 5 countries in 1990 and the amount of CO2 emisson

1.United States = 4823599.85

2.China = 2460773.08

3.Japan = 1094358.17

4.India = 690601.04

5.United Kingdom = 555919.37

In [ ]:
#Creating a new data frame for country and year 2011
Cou_2011 = replacing_null.loc[:, ("Country","2011") ]
Cou_2011

In [ ]:
Cou_2011.describe()

In [ ]:
Cou_2011.dtypes.value_counts()

In [ ]:
#Grouping by country and 2011,then changing data type from object to float 

byCoun = Cou_2011.groupby("Country")["2011"].apply(lambda country : country.astype(float).sum())
byCoun

In [ ]:
#Reseting and sorting dataframe in the 2011 column
byCoun.reset_index().sort_values( ["2011"],ascending = False).head(5)

# Top 5 countries in 2011 and the amount of CO2 emisson

1.China = 9019520.2

2.United States = 5305571.6

3.India = 2074346.9

4.Russian Federation = 2074346.9

5.Japan = 1187659.0

In [ ]:
byCoun.reset_index().sort_values( ["2011"],ascending = True).head(10)

# Bottom 5 countries in 2011 and the amount of CO2 emisson

1.Saint Helena	= 889.9304

2.Niue	= 889.930434

3.Wallis and Futuna Islands =	904.630434

4.Liechtenstein =	930.230434

5.Nauru	= 930.230434

The bottom 5 countries in 2011 had missing values,so I replaced missing values with zero.Also I think in these countries there were no or CO2 emisions at these countries because they are not developed countries and so they don't use fossil fuels and there are a lot of forests there.

# 3.Calculate the mean and median C02 emissions for 1990. Why do you think these values differ?

In [ ]:
#statistical summary of data frame 4

byCou.describe()

 # Mean

In [ ]:
#Checking mean
byCou.mean()

The mean or overall average is 71685.030

# Median

In [ ]:
#Checking median
byCou.median()

The median is 1236.95.

In [ ]:
dist_df = byCou
dist_df = np.random.gamma(4, 0.5,1000)
mean = dist_df.mean()
median = np.median(dist_df)
plt.ylabel("Density Probability")
plt.axvline(mean,color = 'blue',label = 'Mean')
plt.axvline(median,color = 'green',label = 'Median')

_ = sns.distplot(dist_df,color = "grey")
_ = plt.legend()

The mean is greater than the median, the distribution is positively skewed.

# 4.Calculate the minimum, maximum and interquartile range of the CO2 emissions for 1990. Using this information, and the mean and median, what does this tell you about the distribution of CO2 emissions?

# Minimum

In [ ]:
byCou.min()

# Maximum

In [ ]:
byCou.max()

# InterQuartile Range

In [ ]:
q1 = byCou.quantile(0.25)
q1

In [ ]:

q2 = byCou.median()
q2

In [ ]:
q3 = byCou.quantile(0.75)
q3

In [ ]:
iqr = q3 - q1
iqr

The distribution is skewed/ assymetrical distribution because on tail is more than the other.This data is  right-skewed because the right hand side has a longer tail than the left.If this was a normal distribution the mean and the median were gonna be equal,now that the mean is more than the median it means that this distribution is positively(right-skewed)

# 5. Create a histogram of the CO2 emissions for 1990. Is this what you expected from your answers in questions 3 and 4?

In [ ]:
#Assigning new data frame
new_df = byCou

plt.figure(figsize = [10,8])
new_df = np.random.gamma(4, 0.5, 1000)

#Showing values specific points on coordinate axis 
plt.xticks(fontsize = 15)
plt.yticks(fontsize = 15)

#Showing specific labels on coordinate axis
plt.xlabel('CO2 emission', fontsize = 15)
plt.ylabel('Frequency', fontsize = 15)


#Showing plot title
plt.title('Skewed Distribution Histogram',fontsize = 15)

plot = plt.hist(new_df, bins = 20, color='r',edgecolor = 'k', alpha = 0.65)

Yes this is what I expected my histogram to look like because this distribution is skewed and it is positively distributed(right-skewed) as the tail is on the right.

# 6.Calculate the standard deviation and standard error of the mean for CO2 emissions in 1990. How is the standard error different from the standard deviation?

# Standard deviation

In [ ]:
byCou.std()

# Standard error mean

In [ ]:
byCou.sem()

Standard deviation measures dispersion for a subject set of data from mean while standard error measures how far the sample mean of data is likely to be from true population mean.

# 7.Create a line graph to show C02 emissions in Brazil, Russia, China, India, the USA and South Africa over time. What does the graph tell you about the difference and change in C02 emissions in these countries?

In [ ]:
#Locating countries
BRZ =replacing_null["Country"][replacing_null["Country"] == "Brazil"]
CHN = replacing_null["Country"][replacing_null["Country"] == "China"]
IND = replacing_null["Country"][replacing_null["Country"] == "India"]
RSA = replacing_null["Country"][replacing_null["Country"] == "South Africa"]
RSF = replacing_null["Country"][replacing_null["Country"] == "Russian Federation"]
USA = replacing_null["Country"][replacing_null["Country"] == "United States"]

#Displaying posotions of the countries 

display(BRZ,CHN,IND,RSA,RSF,USA)

In [ ]:
#Creating a new data frame

all_df = replacing_null.loc[(82,124,277,563,499,652),("Country","1990","1991","1992","1993","1994","1995",
                                        "1996","1997","1998","1999","2000","2001","2002",
                                        "2003","2004","2005","2006","2007","2008","2009","2010",
                                        "2011","2012","2013","2014","2015","2016","2017","2018","2019")]
 
all_df

In [ ]:
#Grouping and changing data types using callable function lambda
byAll = all_df.groupby("Country")["1990","1991","1992","1993","1994","1995",
                                        "1996","1997","1998","1999","2000","2001","2002",
                                        "2003","2004","2005","2006","2007","2008","2009","2010",
                                        "2011","2012","2013","2014","2015","2016","2017",
                                        "2018","2019"].apply(lambda country : country.astype(float).sum()).reset_index()
byAll

In [ ]:
byAll.dtypes.value_counts()

In [ ]:
#Firstly I need to transpose my data set
allg = byAll.set_index("Country").T

#Plot setting
fig, ax = plt.subplots(figsize = (10,4))
ax.set_xlabel("Year")
ax.set_ylabel("CO2 emissions")
ax.set_title("A Line Graph Showing CO2 emissions From 1990-2019")

_ = allg.plot(ax = ax, color = ("cyan","g", "y","r", "fuchsia","darkblue"))

# 8.What is the mean and standard deviation for land area covered by forest in 1990? Why do you think the standard deviation is so large?

In [ ]:
forest = replacing_null[((replacing_null.SeriesCode == 567))]
forest.head()

In [ ]:
for_est = forest.loc[:, ('Country','1990') ]
for_est

In [ ]:
for_est.describe()

In [ ]:
for_est.dtypes

In [ ]:
#Changing 1990 from string to float and finding mean

for_est["1990"].astype(float).mean()

In [ ]:
#Changing 1990 from string to float and finding standard deviation
for_est["1990"].astype(float).std()

A high standard deviation indicates that the data points are spread out over a large range of values.

# 9.Create histograms for land area covered by forest and percentage of area protected in 1990. Describe the distributions.

In [ ]:
protected = df2[((df2.SeriesCode == 616))]
protected.head()

In [ ]:
prot_df = protected.loc[:, ('Country','1990') ]
prot_df

In [ ]:
new_df = prot_df
#Defining the measures of central tendency
mean = new_df.mean()
median = new_df.median()

plt.figure(figsize = [8,4])
new_df = np.random.gamma(6, 0.4, 1000)
#new_df = np.random.gamma(1000)

#Showing values specific points on coordinate axis 
plt.xticks(fontsize = 15)
plt.yticks(fontsize = 15)

#Showing specific labels on coordinate axis
plt.xlabel('Protected land', fontsize = 15)
plt.ylabel('Frequency', fontsize = 15)


#Showing plot title
plt.title('Histogram For Protected Land',fontsize = 15)

plot = plt.hist(new_df.astype(float), bins = 20, color='purple',edgecolor = 'k', alpha = 0.65)

In [ ]:
dist_df = prot_df
dist_df = np.random.gamma(4, 0.5,1000)
mean = dist_df.mean()
median = np.median(dist_df)

plt.axvline(mean,color = 'blue',label = 'Mean')
plt.axvline(median,color = 'yellow',label = 'Median')
plt.ylabel("Density Probability")
plt.title("Distribution For Protected Area")
_ = sns.distplot(dist_df,color = "green")
_ = plt.legend()

In [ ]:
new_df = for_est
#Defining the measures of central tendency
mean = new_df.mean()
median = new_df.median()

plt.figure(figsize = [8,4])
new_df = np.random.gamma(6, 0.4, 1000)
#new_df = np.random.gamma(1000)

#Showing values specific points on coordinate axis 
plt.xticks(fontsize = 15)
plt.yticks(fontsize = 15)

#Showing specific labels on coordinate axis
plt.xlabel('Forest Covered Land', fontsize = 15)
plt.ylabel('Frequency', fontsize = 15)


#Showing plot title
plt.title('Histogram for Forest Covered Land',fontsize = 15)

plot = plt.hist(new_df.astype(float), bins = 20, color='blue',edgecolor = 'k', alpha = 0.65)

In [ ]:
dist_df = for_est
dist_df = np.random.gamma(4, 0.5,1000)
mean = dist_df.mean()
median = np.median(dist_df)

plt.axvline(mean,color = 'maroon',label = 'Mean')
plt.axvline(median,color = 'blue',label = 'Median')
plt.ylabel("Density Probability")
plt.title("Distribution For Forest Covered Land")
_ = sns.distplot(dist_df,color = "purple")
_ = plt.legend()

Both graphs are positively skew dostributed meaning the mean value is more than the median value.

# 10.Create a scatterplot with a regression line using seaborn.regplot to show the relationship between the proportion of land area covered by forest and the percentage of area protected in 2000.
What is the relationship between these two variables?
Describe any patterns in the scatterplot.
Do you notice any unusual/extreme values that do not fit the general trend? If you see any unusual values, briefly describe them (Who are they? In what way are they different?).

In [ ]:
#Creating a data frame for forest land and resetting the index while droping the old index

for_df = forest.loc[:, ("Country","2000") ].reset_index(drop = True)
for_df.drop("Country", axis =1)

In [ ]:
#Creating dataframe for protected land

df_prot = protected.loc[:, ("Country","2000") ].reset_index(drop = True)
df_prot.drop("Country", axis =1)

In [ ]:
result = pd.concat([for_df, df_prot["2000"]], axis = 1).fillna(0)
result

In [ ]:
result.dtypes

In [ ]:
#Renaming columns

result.columns = ["Country", "2000f", "2000p"]
result

In [ ]:
result.drop(["Country"], axis = 1)

In [ ]:
sns.regplot(result,x = result.astype(float), y = df2["2000"].apply(lambda x :x.asype(float)), color = "indigo")
_ = plt.title("A Scatter.regplot For Forest Covered And Protected Area")
plt.legend("Country")

This is no relationship because the plot slope is flat meaning.All the variables are independent,an increase/decrease in one variable on forest covered area doesn't affect the variables in protected land.Yes,I notice unusual values and they are called outliers.Outliers are obsevations with larger residuals.They either indicate data entry error,sample peculiarity or other problems.

# There are three types of outliers namely:

 # 1.Global Outliers
 It's the values that are far outside the entire dataset.
 
 # 2.Contextual Outliers 
 These significantly deviates from the rest of the data points in the same context.
 
 # 3.Collective Outliers
 This is when a collection of related data instances is anomalous/inconsistent with respect to the entire dataset.

# 11.Since neither forested land area nor protected area is normally distributed, we will need to log transform these variables in order to calculate a correlation coefficient. Log transform the variables and show the transformed distributions in a histogram.

In [ ]:
result_log = result
result_log['log_2000f'] = np.log10(result['2000f'].astype(float))
result_log['log_2000p'] = np.log10(result['2000p'].astype(float))
result_log

In [ ]:
result.dtypes

In [ ]:
result_log1 = result_log.drop(["2000f","2000p"], axis = 1)
result_log1

In [ ]:
# Removing infinite

result_log2 = result_log1[~result_log1.isin([np.nan, np.inf, -np.inf]).any(1)]
result_log2

In [ ]:
result_log2.dtypes

In [ ]:
result_log3 = result_log2.drop(["Country"], axis = 1)
result_log3

In [ ]:

_= result_log3.plot( kind = "hist", bins = 28,edgecolor = 'k',color = ("blue", "purple"))
_ = plt.title("Log Transformed Distribution Histrogram Of Forest Vs Protected Land", fontsize = 14)

In [ ]:
pearsoncorr = result_log3.corr(method='pearson')
pearsoncorr

In [ ]:
ax = sns.heatmap(pearsoncorr, cmap = 'RdBu_r',annot = True,linewidth = 0.5)

The coefficient of correlation is more than zero but less than one,this means that there is a weak positive relationship between the values.This means that while both variables tend to go up in response to one another, the relationship is not very strong.

# 12.Using the pearsonr function from the scipy.stats module, calculate the Pearson correlation coefficient (and its corresponding p value) to determine the nature of the relationship between proportion of land area covered by forest and the percentage of area protected (as measured in 1990 and log transformed). See help(pearsonr) for help on this function.

In [ ]:
#Creating a data frame for forest land and resetting the index while droping the old index

for1_df = forest.loc[:, ("Country","1990") ].reset_index(drop = True)
for1_df

In [ ]:
df_prot1 = protected.loc[:, ("Country","1990") ].reset_index(drop = True)
df_prot1

In [ ]:
for_prot= pd.concat([for1_df, df_prot1["1990"]], axis = 1).fillna(0)
for_prot

In [ ]:
for_prot.columns = ["Country", "f1990", "p1990"]
for_prot

In [ ]:
for_prot.drop(["Country"], axis = 1)

In [ ]:
for_prot.corr()

In [ ]:
for_prot_log = for_prot
for_prot_log['log_f1990'] = np.log10(for_prot['f1990'].astype(float))
for_prot_log['log_p1990'] = np.log10(for_prot['p1990'].astype(float))
#for_prot_log

In [ ]:
for_prot_log1 = for_prot_log.drop(["f1990","p1990"], axis = 1)
#for_prot_log1

In [ ]:
for_prot_log2 = for_prot_log1[~for_prot_log1.isin([np.nan, np.inf, -np.inf]).any(1)]
for_prot_log2

In [ ]:
for_prot_log3 = for_prot_log2.drop(["Country"], axis = 1)
for_prot_log3

In [ ]:
for_prot_log3.corr()

In [ ]:
from scipy.stats.stats import pearsonr
help(pearsonr)

In [ ]:
from scipy.stats import linregress
linregress(for_prot_log3)

The Pearson correlation coefficient(rvalue) = 0.1243,the Pearson correlation coefficient(pvalue) = 0.09254.This means that there is a positive week linear relationship between the variables.The slope = 0.1769 this means that the direction is going up to the right,meaning it is a weak increase relationship.This is not statistically significant.Thed p-value is compared to the significance level(alpha) which is usually 0.05 and works well.In this case the p-value is greater than 0.05 wgich means that i cannot conclude that the correlation is different from zero.